.App {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.App h1 {
  font-size: 4rem;
  font-weight: bolder;
}
.interval-length-container {
  display: flex;
}
.interval-container {
  display: flex;
  flex: row;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
}
button {
  font-size: 1.5rem;
  padding: 5px 12px;
  margin: 0 10px;
  height: 35px;
  background-color: gray;
  border: none;
  outline: none;
  cursor: pointer;
  color: whitesmoke;
}
.interval-length {
  font-size: 2rem;
}
.title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: -10px;
}
.timer-container{
  border: 2px solid black;
  margin-top: 40px;
  border-radius: 25px;
  width: 250px;
  text-align: center;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.timer{
  font-size: 2rem;
}
.timer-actions{
  margin-top: 20px;
  text-align: center;
}